.App {
    background: linear-gradient(15deg,#009cdd,#2a438b);
    width: 100vw;
    height: 100vh;

    .heading {
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
        color: whitesmoke;
        text-transform: uppercase;
        padding: 21px 0px;
    }
}